# Android
*.log
*.lock
*.iml
.gradle
local.properties
/.idea
.DS_Store
build/
captures/
.externalNativeBuild

# Termux
.bash_history
.zsh_history
.termux

# Geçici dosyalar
*.tmp
*.temp
*.bak
*.swp
*~
